---
layout: layouts/home.liquid
---

<div class="p-2 text-light rounded-3 text-center jumbotron">
  <div class="container-fluid py-4">
    <img src="/img/mobilcos.png" width="150" class="d-inline-block align-top rounded" alt="MobilCOS">
    <h1 class="display-5 fw-bold">MobilCOS est votre assistant opérationnel</h1>
    <p class="fs-5 px-5 mt-2 mb-4">
      MobilCOS est un assistant numérique sur les différentes phases d'activité du sapeur-pompier en intervention.
      Sa mission est d'améliorer la communication dans chaîne de commandement lors d'intervention des sapeurs-pompiers par une prise d'information en temps réél, ultra connectée.
    </p>
    <a class="btn btn-light btn-lg" href="/fonctionnalites">En savoir plus</a>
  </div>
</div>

<p class="text-center">
  <img src="/img/mockup.png" width="80%" class="d-inline-block align-top" alt="Mockup des applications MobilCOS" style="filter: drop-shadow(0 0 0.3rem rgba(191,85,22,.5));">
</p>

<div class="container-fluid py-4 text-light text-center">
  <h2 class="display-6">
    Une suite applicative originale d'accompagnement de la chaine de commandement lors des opérations de secours
  </h2>
  <p class="fs-5 px-5 mt-2 mb-4">
    Développée par des pompiers pour les pompiers, embarquant les dernières technologies de communication, MobilCOS propose un écosystème
    applicatif construit à partir des besoins terrains.
  </p>
</div>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Planning et statuts de garde</h3>
        <p style="color: rgba(255, 255, 255, .8)">Gestion individuelle des disponibilités avec un planning prévisionnel centralisé et la possibilité pour chaque responsable de se placer en garde</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Rappels préventif réactif</h3>
        <p style="color: rgba(255, 255, 255, .8)">Procédure automatique de rappel de disponibilité en cas de grosse opération</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Gagner du temps</h3>
        <p style="color: rgba(255, 255, 255, .8)">L'engagement et l'information de la chaine de commandement opérationnelle via les pushs mobile et le lancement de la navigation GPS automatique</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Stratégie opérationnelle</h3>
        <p style="color: rgba(255, 255, 255, .8)">Une visualisation sur des indicateurs opérationnels d'une intervention</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Prise d'informations directe</h3>
        <p style="color: rgba(255, 255, 255, .8)">Ticket départ dématérialisé permettant de suivre l'intervention en temps réél sur tous les supports mobiles</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Et bien plus encore ...</h3>
        <p style="color: rgba(255, 255, 255, .8)">Cartographie interactive, notifications utilisateur, gestion des agents ...</p>
      </div>
    </div>
  </div>

</div>