---
layout: layouts/home.liquid
---

<div class="p-5 mb-4 text-light rounded-3 text-center jumbotron">
  <div class="container-fluid py-5">
    <img src="/img/mobilcos.png" width="150" class="d-inline-block align-top rounded" alt="MobilCOS">
    <h1 class="display-5 fw-bold">MobilCOS est votre assistant opérationnel</h1>
    <p class="fs-4">
      MobilCOS est un assistant numérique sur les différentes phases d'activité du sapeur-pompier en intervention.
      Sa mission est d'améliorer la chaîne de commandement lors d'intervention des sapeurs-pompiers par une prise d'information en temps réél, ultra connectée.
    </p>
    <a class="btn btn-light btn-lg" href="/fonctionnalites">En savoir plus</a>
  </div>
</div>