---
layout: layouts/simple.liquid
---

<div class="p-4 mb-4 rounded-3 text-white" style="background-color: #f95e00">
    <div class="container-fluid py-5">
        <h1 class="display-5">
            Politique de confidentialité
        </h1>
    </div>
</div>

<ul>
    <li>Les données des utilisateurs récoltées (nom, prénom, email, numéro de téléphone ...) sont strictement confidentielles et ne seront pas communiquées à des tiers ;</li>
    <li>Conformément à la loi n° 78-17 du 6 janvier 1978, relative à l'Informatique, aux Fichiers et aux Libertés, vous disposez d'un droit d'accès et de rectification des données à caractère personnel vous concernant et faisant l’objet de traitements sous la responsabilité du SDIS62 ;</li>
    <li>Nous nous réservons de modifier ces termes à tout moment. Si ces modifications constituent un changement majeur, vous serez informé des modifications directement dans l'application. Ce qui constitue un changement majeur sera déterminé en interne, de bonne foi, en utilisant le bon sens, et un jugement raisonnable.</li>
</ul>