---
layout: layouts/base.liquid
---

<h1 class="d-flex flex-row justify-content-center align-items-center mt-5 mb-5" style="font-family: 'reality_hyperregular'">
    MobilCOS
</h1>

<div class="container">
    {{ content }}
</div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Accueil</a></li>
        </ul>
        <p class="text-center text-body-secondary">2023 MobilCOS - SDIS62</p>
    </footer>
</div>