---
layout: layouts/home.liquid
---

<h1 class="text-center text-light mt-3 mb-5">MobilCOS est une suite d'outils connectés pour rationaliser l'information opérationnelle, du matériel engagé, aux officiers supérieurs</h1>

<div class="row row-cols-1 row-cols-sm-2 g-4">

    <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3">
            <i class="bi-activity"></i>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Suivi opérationnel en temps réél</h4>
        <p class="text-body-secondary">Accédez à l'ensemble des informations opérationnelles remontant du terrain, en temps réél.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3">
            <i class="bi-hexagon"></i>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Suite applicative</h4>
        <p class="text-body-secondary">MobilCOS est une suite applicative spécialisée pour l'ensemble de la chaine de commandement : du matériel engagé connecté aux pushs d'inforamtions aux cadres officiers supérieurs, en passant par un Kiosque d'affichage CIS : chaque partie prenante opérationelle a sa solution.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3">
            <i class="bi-map"></i>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Cartographie connectée</h4>
        <p class="text-body-secondary">Visualisez l'ensemble des points d'intêrets autour d'une intervention en connectant votre SIG : DECI, ERP, Analyse de risque ...<br>Une solution GPS est embarquée afin de guider facilement les personnels engagés sur le lieu de l'intervention.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3">
            <i class="bi-person-bounding-box"></i>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Base agents synchronisée</h4>
        <p class="text-body-secondary">Connectez vous à la suite MobilCOS en utilisant vos identifiants professionnels.</p>
    </div>

  </div>