---
layout: layouts/home.liquid
---

<h1 class="text-center text-light mt-3 mb-5">Tarification</h1>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <div class="col offset-md-4">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pack complet</h4>
        </div>
        <div class="card-body">
          à partir de
          <h1 class="card-title pricing-card-title">
            1.50€<small class="text-body-secondary fw-light">/an/utilisateur</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Accès illimité à l'application mobile</li>
            <li>Accès illimité à la console d'administration</li>
            <li>Accès illimité au kiosque d'affichage</li>
            <li>Support client</li>
          </ul>
          <a href="mailto:contact@mobilcos.fr" class="w-100 btn btn-lg btn-outline-light">Nous contacter</a>
        </div>
      </div>
    </div>

  </div>